@import 'sanitize.css';

$shadow: var(--x) var(--y) 1rem black;

:root {
  font-family: system-ui;
  text-align: center;
  color: #eee;
  background-color: #222;
}

body {
  --x: 0rem;
  --y: 0rem;
}

a {
  color: inherit;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
}

.dummy-header {
  margin: 1rem;
  flex-grow: 1;
}

.name {
  margin: 1rem;
  text-shadow: $shadow;
  line-height: 1em;
}

.photo {
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: $shadow;
}

.button-row {
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.button-row a {
  display: block;
  margin: 0 0.5rem;
}
.button-row a svg {
  width: 2rem;
  height: 2rem;
}

.copyright {
  flex-grow: 1;
  width: 100%;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
